header{
    background-color: #a6a6a6;
    font-family: 'Yellowtail', cursive;
    font-size: 2em;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#mw-logo-container{
    display: flex;
    margin: 10px;
}
#mw-logo:hover{
    border-color: #7a7a7a;

}
#mw-logo{
    width: 2em;
    border: solid;
    border-radius: 50%;
    overflow: hidden;
}

#vertical-nav{
    display: none;
    font-family: 'Yellowtail', cursive;
}

#dropdown-btn{
    display: none;
    width: 2em;
    margin: 0 1em 0 0;

}

#hover-dropdown{
    display: none;
    width: 2em;
    margin: 0 1em 0 0;

}

#hover-dropdown:hover{
    cursor: pointer;
}

#nav-list{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
.nav-link{
    margin: 0 1em;
    list-style: none;
    transition: ease-in;
}
.nav-link a:hover{
    color: #7a7a7a;
    border-bottom: solid;
    border-color: #7a7a7a;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}

#about-me-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid;
    border-color: #a6a6a6;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#about-me-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 2em;
    border: solid;
    border-color: #a6a6a6;
    font-size: 1.5em;
}

#family-img-container{
    width: 50%;
    margin: 3em;
}

#family-img{
    width: 100%;
    border-radius: 50%;
    border: solid;
    border-color: #a6a6a6;
}

footer{
    background-color: #a6a6a6;
    font-family: 'Yellowtail', cursive;
    font-size: 2em;
}

#contact-info-container {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: #a6a6a6;
    right: 8px;
    top: 110px;
    padding: 1em;
}

.toggle-info{
    position: fixed;
    z-index: 1;
    background-color: #a6a6a6;
    color: white;
    border-radius: 4em;
    border: solid;
}

#contact-info{
    display: flex;
    flex-direction: column;
    margin: 1em;
    font-size: 1.1em;
}

#contact-info p{
    margin: 0;
}

#headshot{
    width: 5em;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 1em 0 1em;
    border: solid;
}

#social-info-container{
    display: none;
    top: 240px;
    right: 8px;
}

.social-img{
    width: 5em;
    padding: 1em;
}

@media only screen and (max-width: 950px) {
    #about-me-container{
        flex-direction: column-reverse;
    }

    #family-img-container{
        border-radius: 0%;
        margin: 1em;
    }

    #family-img{
        border-radius: 0%;
    }

    #about-me-text{
        width: auto;
        margin-top: 0;
        padding: 1em;
    }
}

@media only screen and (max-width: 760px){
    
    #dropdown-btn{
        display: flex;
    }

    #horizontal-nav{
        display: none;
    }

    #vertical-nav{
        font-size: 2em;
    }

    #nav-list{
        top: 97px;
        right: 8px;
        position: absolute;
        flex-direction: column;
        background-color: #a6a6a6;
        padding: 0.5em 0;
    }
}

/* resume */

#resume-container{
    display: flex;
    border: solid;
    border-color: #a6a6a6;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    flex-direction: column;
}

.format-sections{
    margin: 0 3em;
    border-bottom: solid;
    border-color: #a6a6a6;
}

#skills{
    margin-bottom: 2em;
    border-bottom: none;
}


/* projects */

#projects{
    border: solid;
    border-color: #a6a6a6;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
#projects a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 1em;
}
.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    border: solid;
    border-color: #a6a6a6;
    padding: 0.5em;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.project-img{
    width: 90%;;
    border: solid;
    border-color: #a6a6a6;
}
