html{
    font-size: 18px;
}

body{
    color: white;
}

/* header */

header{
    margin-bottom: 5em;
}

.content-container{
    background-color: rgb(101, 101, 101);
    border: solid;
    border-width: .35em;
    border-color: rgb(11, 17, 107);
    border-radius: 1em;
}

nav{
    font-family: 'Cinzel', serif;
    display: flex;
    align-items: center;
    justify-content:space-between ;

}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
}


h1{
    margin: .5em 0;
    padding-left: 1em;
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
}

h1 a{
    color: white;
    text-decoration: none;
}

h1 a:hover{
    color: rgb(11, 17, 107);
}

h1:hover{
    color: rgb(11, 17, 107);
}

.nav-item{
    padding: 1em 1em 1em 1em;
    font-size: 1.5rem;
}

.nav-item{
    padding: 1em .5em;
}

.nav-item a{
    text-decoration: none;
    color: white;
    padding: .5em;
}

.nav-item a:hover{
    color: rgb(11, 17, 107);
    font-weight: bold;
}

@media only screen and (max-width: 942px){
    nav {
        flex-direction: column;
    }
    .nav-list{
        padding: 0;
        margin-top: 0;
    }
    .nav-item{
        padding: 0 .5em;
    }
    h1 {
        margin-bottom: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 523px){
    nav {
        flex-direction: column;
    }
    .nav-list{
        padding: 0;
    }
    .nav-item a {
        font-size: 1rem;
    }
    h1 {
        font-size: 2rem;
        margin-bottom: 0;
        padding: 0;
    }
}

        /* About Me */

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

h2{
    font-family: 'Cinzel', serif;
}

.about-me-section{
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
}

.about-me-container{
    margin: 0 1em 1em 1em;
}


.content-container h2{
    font-family: 'Cinzel', serif;
    text-align: center;
    margin: 0 1em 0 2em;
    border-radius: .75em;
}

.content-container p{
    padding: .5em;
    font-family: 'Playfair Display', serif;
    line-height: 1.3em;
}

.img-container{
    background-image: url(./static/aboutMeImg.jpg);
    background-size: cover;
    width: 125em;
    height: 26em;
}


@media only screen and (max-width: 1536px){
    .about-me-section{
        align-items: center;
    }
}

@media only screen and (max-width: 1280px){
    .about-me-section{
        flex-direction: column-reverse;
    }

    .img-container{
        width: 20em;
        height: 20em;
    }

    header{
        margin-bottom: 1em;
    }
}


        /*footer*/
.footer-list {
    padding-left: 0;
    margin: 1em 0 1em 0;
    justify-content: space-around;
    justify-items: center;
}
.footer-item{
    padding: 0 1em 0 1em;
    display: flex;
    justify-content: center;
}

.footer-item p{
    display: none;
    color:rgb(11, 17, 107);
    margin: 0;
    font-size: 1em;
    width: max-content;
}
.nav-list img{
    height: 88%;
    width: 18%;
}

#github{
    display: flex;
    height: 88%;
    width: 18%;
    justify-content: center;
}
